{% load i18n staticfiles misago_json %}
<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <!-- 搜索引擎优化 -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="subject" content="创客在线教育">
    <meta name="keywords" content="your keywords">
    <meta name="author" content="author,email address">
    <meta name="description" content="延河教育网站描述">
    <meta name="url" content="https://example.com/">
    <!-- favicon -->
    <link rel="icon" href="static/image/favicon/logo_16.png" sizes="16x16" type="image/png">
    <link rel="icon" href="static/image/favicon/logo_32.png" sizes="32x32" type="image/png">
    <link rel="icon" href="static/image/favicon/logo_48.png" sizes="48x48" type="image/png">
    <link rel="icon" href="static/image/favicon/logo_62.png" sizes="62x62" type="image/png">
    <link rel="icon" href="static/image/favicon/logo_192.png" sizes="192x192" type="image/png">
    <!-- 主体 -->
    <title>延河教育</title>
    <link rel="stylesheet" href="/static/css/reset.css" />
    <link rel="stylesheet" href="/static/css/style.css" />
    <link href="http://vjs.zencdn.net/5.12.6/video-js.css" rel="stylesheet">

      <!-- If you'd like to support IE8 -->
      <script src="http://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>
</head>
<body>
{% csrf_token %}

    {% block content %}
    {% endblock %}
    <div class="modal fade" id="modal-mount" tabindex="-1" role="dialog" aria-labelledby="misago-modal-label"></div>
    {% include "misago/auth.html" %}
    <script type="text/javascript" src="/django-i18n.js"></script>
    {% if LANGUAGE_CODE != "en-us" %}
    <script type="text/javascript" src="/moment-i18n.js"></script>
    {% endif %}
    <script type="text/javascript" src="static/js/vendor.js"></script>
    <script src="http://localhost:8080/app.js"></script>
    <script src="http://vjs.zencdn.net/5.12.6/video.js"></script>
    <script>Loader.init(home_context);$('input[name="logout_direct"]').val("home")</script>
</body>

</html>
