@import '../theme.less';

.crossCourse
{
	padding:40px 0; *{box-sizing:border-box;}
	.crossCont
	{
		width:1208px; margin:0 auto;
		.hotTop{ height:42px; margin-bottom:10px; h1{.mix-F-h1} }
		.hotDown
		{
			.hotCard
			{
				height:550px; border:1px solid #F1F4F4;
				position:relative; top:0; transition:0.3s ease-in-out;
				&:hover{ top:-3px; box-shadow:0 20px 80px rgba(0,0,0,0.2);}
				.slick-slider
				{
					position:relative; padding:0;
					.cover { height:460px; img{height:100%;}}
					.slick-dots { position:absolute; bottom:100px; }
					.info
					{
						padding:16px; position:relative; height:90px;
						h5{.mix-F-h5;}
						p{.mix-F-txt; position:absolute; bottom:16px;}
						a{
							position:absolute; right:16px; bottom:16px; height:35px; width:85px; color:white;
							background-color:@primary-color; border-radius:6px; line-height:35px; text-align:center;
						}
					}
				}
			}
		}
		.card
		{
			height:265px; border:1px solid @BDC-split; 
			position:relative; top:0; transition:0.3s ease-in-out;
			// &:hover{ top:-3px; box-shadow:0 20px 80px rgba(0,0,0,0.2);}
			.cover
			{
				@H:175px;
				height:@H; overflow:hidden; position:relative; img{height:100%;}
				a.shade
				{
					transition: 0.4s ease-in-out; text-align:center; line-height:@H;
					display:block; position:absolute; top:0; left:0; height:@H; width:100%;
					background-color:rgba(0,0,0,0); color: white; font-size:18px; font-weight:300;

					span
					{ 
						display:inline-block; vertical-align:middle; margin:0 5px; opacity:0;
						position:relative; left:0; top:0; transition: 0.4s ease-in-out;
					}
					span.center{top:20px;}
					span.left{height:1px; width:40px; background-color:white; left:-30px;}
					span.right{height:1px; width:40px; background-color:white; left:30px;}

					&:hover { background-color:rgba(0,0,0,0.7); span{opacity:1; top:0; left:0} }
				}
			}
			.info
			{
				padding:16px; position:relative; height:90px;
				h5{.mix-F-h5(14px;); line-height:18px;}
				p{.mix-F-txt; position:absolute; bottom:16px;}
				a{
					position:absolute; right:16px; bottom:16px; color:#009944; font-size:14px;
				}
			}
		}
		div.more a{.mix-F-txt(@c:@FC-second); &:hover{color:@primary-color;}}
	}
}