@import '../theme.less';

.header
{
	border-bottom: 1px solid @BDC-split;
	.headCont 
	{ 
		width: 1208px; margin:0 auto;  position:relative;
		.ant-menu-horizontal{border: none;} 
		.logo { height:100%; margin-top:7px; img{display:block;} }
		
		#user-menu-mount{ float:right; min-width:10px; height:47px; color:red;}
	}
}